@import "./colors";
@import "./vars.scss";

window.RoBar {
    background: transparent;
    color: $color1;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

    .workspaces {
        margin-left: 10px;
        margin-top: 10px;
        padding: 4px;
        background-color: $background;
        border-radius: 99px;
    }

    button {
        min-width: 24px;
        min-height: 24px;
        border-radius: 999px;
        border: 2px solid $foreground;
        background-color: $color2;
    }

    button.media {
        margin-top: 10px;
    }

    button.focused {
        border: 2px double $color7;
    }

    .tray {
        margin-top: 10px;
        background-color: $background;
    }

    .tray-item {
        &:not(:first-child) {
            margin-left: 10px;
        }
    }

    .date {
        margin-right: 10px;
    }

    .system-options,
    .date,
    .tray,
    .workspaces {
        margin-left: 10px;
        margin-top: 10px;
        padding: 8px;
        background-color: transparentize($background, 0.6);
        border: 2px solid $cursor;
        color: $foreground;
        border-radius: 99px;

        *:not(:first-child) {
            margin-left: 6px;
        }
    }
}