window.RoBar {
  background: #1f1f2b;
  color: #9B96CF;
}
window.RoBar button {
  transition: border-color 0.3s ease-in-out;
  border-radius: 999px;
  border: 2px solid #d3d9f6;
  min-width: 14px;
  min-height: 14px;
  color: #d3d9f6;
}
window.RoBar .panel_toggler,
window.RoBar .np_toggler,
window.RoBar .workspaces,
window.RoBar .media,
window.RoBar .date,
window.RoBar .tray {
  margin-top: 10px;
  margin-bottom: 10px;
  transition: background-color 0.3s ease-in-out;
  padding: 4px;
  border: 2px solid #d3d9f6;
  min-width: 30px;
  margin-left: 5px;
  color: #d3d9f6;
  border-radius: 0;
  border-radius: 14px;
}
window.RoBar .workspaces .ws {
  transition: background-color 0.3s ease-in-out;
  border-color: #d3d9f6;
  color: #d3d9f6;
  margin-left: 5px;
}
window.RoBar .workspaces .ws:last-child {
  margin-right: 5px;
}
window.RoBar .workspaces .focused {
  border-color: #CBA6F7;
  background-color: #1f1f2b;
}
window.RoBar .tray-item {
  border: 2px solid #1f1f2b;
  padding: 4px;
  margin-left: 5px;
  margin-top: 2px;
}
window.RoBar .tray-item:last-child {
  margin-right: 5px;
}

.rolauncher {
  background: #1f1f2b;
  color: #d3d9f6;
  border-radius: 16px;
  border: 4px solid #89B4FA;
}

.rolauncher_entry {
  outline: none;
  padding: 8px;
  border-radius: 8px;
  border: 2px dotted #9B96CF;
  color: #d3d9f6;
  background: transparent;
}

.rolauncher_item {
  background-color: #89B4FA;
}

menu {
  border-radius: 20px;
  padding: 8px;
  background: #1f1f2b;
  border: 2px solid #d3d9f6;
}

menuitem {
  background: transparent;
  border-radius: 5px;
  color: #d3d9f6;
}
menuitem:hover {
  background: #89B4FA;
}

.panel_left_content {
  font-family: "Ubuntu";
  border-radius: 20px;
  border: 2px solid #d3d9f6;
  background: #1f1f2b;
  color: #d3d9f6;
  padding: 14px;
}

.panel_left_calendar {
  background: #89B4FA;
  color: #d3d9f6;
  border-radius: 10px;
}

.panel_left_scrollable_note {
  padding: 5px;
  border-radius: 10px;
  background: #89B4FA;
}

.panel_left_avatar {
  min-width: 8.5em;
  min-height: 8.5em;
  border-radius: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.panel_left_profile_container {
  border-radius: 10px;
  padding: 5px;
  background-color: #89B4FA;
}

.grid_system_opts {
  padding: 8px;
  font-size: large;
  border-radius: 14px;
  background: #89B4FA;
  color: #d3d9f6;
}
.grid_system_opts:hover {
  background: #1f1f2b;
}

.favourite_app {
  padding: 8px;
  font-size: large;
  border-radius: 14px;
  background: #89B4FA;
  color: #d3d9f6;
}
.favourite_app:hover {
  background: #1f1f2b;
}

.panel_right_content {
  font-family: "Ubuntu";
  background-color: #1f1f2b;
  color: #d3d9f6;
  padding: 14px;
  border-radius: 20px;
  border: 2px solid #d3d9f6;
}

.wpc_header {
  padding: 8px;
  margin-bottom: 10px;
  border-bottom: 2px solid #C49CEA;
}

.wpc_content {
  padding: 16px;
}

.wpc_grid_item_container {
  border: 2px solid #d3d9f6;
  border-radius: 14px;
  color: #d3d9f6;
  padding: 8px;
}

.wpc_grid_item {
  min-width: 8.5em;
  min-height: 8.5em;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 14px;
}

.wpc_button {
  background: transparent;
  border: 2px solid #C49CEA;
}
.wpc_button:hover {
  background: #C49CEA;
}

.notification_icon {
  min-width: 68px;
  min-height: 68px;
  margin-right: 1em;
}
.notification_icon box {
  min-width: 68px;
  min-height: 68px;
  border-radius: 10px;
}
.notification_icon image {
  font-size: 58px;
  margin: 5px;
  background: #d3d9f6;
}

.notification {
  min-width: 350px;
  border-radius: 14px;
  padding: 1em;
  margin: 0.5em;
  border: 1px solid #CBA6F7;
  background: #1f1f2b;
  color: #d3d9f6;
  padding: 0.5em;
}
.notification .critical {
  border: 1px solid red;
}

.notification_title {
  font-family: "Ubuntu";
  color: #d3d9f6;
  font-weight: bold;
  font-size: 1.4em;
  margin-bottom: 4px;
}

.notification_body {
  font-family: "Ubuntu";
  margin-bottom: 4px;
}

.notification_actions,
.notification_action_button {
  margin: 0 0.4em;
  margin-top: 0.8em;
}
.notification_actions:first-child,
.notification_action_button:first-child {
  margin-left: 0;
}
.notification_actions:last-child,
.notification_action_button:last-child {
  margin-right: 0;
}

.notification_popups {
  padding: 0.5em;
}

button {
  all: unset;
  padding: 4px;
  background: transparent;
  border-radius: 16px;
}
button:hover {
  background: #C49CEA;
}

scale {
  min-height: 18px;
  border-radius: 18px;
}
scale slider {
  all: unset;
  min-height: 18px;
  min-width: 18px;
  margin: -8px;
}
scale trough {
  outline: none;
  background-color: #89B4FA;
  border-radius: 24px;
  min-height: 20px;
}
scale highlight {
  background-color: #d3d9f6;
  border-radius: 24px;
}
scale fill {
  background-color: transparent;
}

window {
  background: transparent;
  font-family: "Ubuntu";
}

/*# sourceMappingURL=style.css.map */
